name: Action Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    - cron: '30 19 * * *'
  workflow_dispatch:

permissions: read-all

jobs:
  tests:
    name: Action Tests
    strategy:
      matrix:
        os:
          - macos-14
          - macos-15
          - macos-15-intel
          - macos-26
          - ubuntu-22.04
          - ubuntu-24.04
        plugin-manager:
          - fisher
          - oh-my-fish
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install fish shell
        uses: fish-shop/install-fish-shell@44a7182b88c709f59d76c48f6056bad638acb31f # v2.0.37
      - name: Install plugin manager
        uses: ./
        with:
          plugin-manager: ${{ matrix.plugin-manager }}
      - if: matrix.plugin-manager == 'fisher'
        name: Check Fisher was installed
        run: type -q fisher
        shell: fish {0}
      - if: matrix.plugin-manager == 'oh-my-fish'
        name: Check Oh My Fish was installed
        run: type -q omf
        shell: fish {0}
