name: tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    - cron: '30 19 * * *'
jobs:
  tests:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        plugin-manager:
          - fisher
          - oh-my-fish
          - plug.fish
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install fish shell
        uses: fish-actions/install-fish@v1
      - name: Install plugin manager
        uses: ./
        with:
          plugin-manager: ${{ matrix.plugin-manager }}
      - if: matrix.plugin-manager == 'fisher'
        name: Check Fisher was installed
        run: type -q fisher
        shell: fish {0}
      - if: matrix.plugin-manager == 'oh-my-fish'
        name: Check Oh My Fish was installed
        run: type -q omf
        shell: fish {0}
      - if: matrix.plugin-manager == 'plug.fish'
        name: Check plug.fish was installed
        run: type -q plug
        shell: fish {0}
